body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Untuk mencegah adanya scroll */
}
.container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh; /* Menggunakan tinggi viewport agar gambar sesuai */
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(101, 64, 250, 0.93) 0%, rgba(231, 55, 192, 0.93) 50%, rgba(247, 143, 100, 0.93) 100%);
  opacity: 1; /* Mengatur opacity ke 1 agar overlay muncul secara otomatis */
  transition: opacity 0.5s; /* Efek transisi pada opacity */
}
img {
  max-width: 100%;
  height: auto;
}




.d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-12.16deg); /* Menggabungkan kedua transformasi */
  width: 410.53px; /* Sesuaikan dengan lebar yang diinginkan */
  height: 409.76px; /* Sesuaikan dengan tinggi yang diinginkan */
  border: 2px solid white; /* Hanya border putih */
}


.e {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(9.21deg); /* Menggabungkan kedua transformasi */
  width: 410.53px; /* Sesuaikan dengan lebar yang diinginkan */
  height: 409.76px; /* Sesuaikan dengan tinggi yang diinginkan */
  border: 2px solid white; /* Hanya border putih */
}


.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 390.53px; /* Sesuaikan dengan lebar yang diinginkan */
  width:  359.76px; /* Sesuaikan dengan tinggi yang diinginkan */
  background-color: white;
  border: 2px solid white; /* Hanya border putih */
}

.sc {
  position: relative; /* Menjadikan posisi relatif untuk memungkinkan penempatan absolut dari tombol */
  height: 60px;
  margin-top: 20px;
}

.sd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 52.3px;
  width: 163px;
}

/* Mengatur elemen .g2 */
.g2 {
  position: absolute;
  top: 0;
  left: 0;
}

/* Mengatur elemen .g3 */
.g3 {
  position: absolute;
  top: 0;
  right: 0;
}

/* Mengatur elemen .g4 */
.g5 {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Mengatur elemen .g5 */
.g4 {
  position: absolute;
  bottom: 0;
  left: 0;
}



.btn {
  position: absolute; /* Menjadikan posisi absolut agar dapat ditempatkan secara tepat di dalam div .sc */
  top: 50%; /* Mengatur posisi vertikal tombol di tengah */
  left: 50%; /* Mengatur posisi horizontal tombol di tengah */
  transform: translate(-50%, -50%); /* Menggeser tombol ke tengah secara tepat */
  background-color: #FF7943;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  font-size: 20px;
  width: 153px;
  font-weight: bold;
}


